Repository zalando/nakadi, pull requests merged in 2018-02, with the labels that each got.

#839 ARUHA-1085 Concept for archiving all event types
  docs/_concepts/archive-authz.md
  docs/_config.yml
Labels: Concept

#849 Aruha 1489 Deprecate Low-level API
  CHANGELOG.md
  README.md
  docs/_data/nakadi-event-bus-api.yaml
  docs/_documentation/using_consuming-events-lola.md
  src/main/java/org/zalando/nakadi/controller/EventStreamController.java
Labels: documentation, enhancement

#850 Documentation: Link to new homepage for nakadi-client for Haskell
  docs/_documentation/using_clients.md
Labels: documentation
